:root {
    font-size: 10px;
   }
   
*,
*::before,
*::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 text-decoration: none;
 list-style: none;
 user-select: none;
 -webkit-user-drag: none;

//   font-family: DM Sans;
//   font-size: 1.9rem;
//   font-style: normal;
//   font-weight: 500;
//   line-height: 2.6rem;
}

@mixin flexCenter($direction: row, $justify:center, $align:center){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// @mixin border($width: 2px, $style: dashed, $color:#666){
//     border:$width $style $color;
// }
   

html, body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
   
#app{
    width: 100%;
    height: 100%;
    // @include border;
    // @include flexCenter(column,space-between, center);
     
}

#background {
    background-image: url(pseudo.jpg); 
    width: 144rem;
    height: 90rem;
    // display: flex;
    // align-items: center;
}

header {
    display: flex;
    max-width: 144rem;
    padding: 1.6rem 4.8rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    // background-image: url(pseudo.jpg); 
    // justify-content: flex-start;
    // @include flexCenter(column,space-between, center);
    .logo {
        width: 173px;
        height: 32px;
        flex-shrink: 0;
    }

    aside{
        display: flex;
        gap: 2.8rem;
    }

    .text {
        display: flex;
        padding: 4.5px 16px 5.5px 16px;
        // align-items: flex-start;
        border-radius: 16px;
        background: rgba(0, 127, 255, 0.16);
    
        color: #007FFF;
        font-family: PingFang SC;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 137.5% */
    }
   
    .sign {
        color: white;
        display: flex;
        width: 3.2rem;
        height: 3.2rem;
        justify-content: center;
        align-items: center;
        background-color: #0089FF;
        border-radius: 3.2rem;
        padding: 4.5px 2px 5.5px 2px;
        // align-items: flex-start;
    }     
}

main{
    width: 144rem;
    height: 64rem;
    display: flex;

    padding: 2.5rem 20rem;
    @include flexCenter(column, space-between, center);
    

    .img{
        @include flexCenter(flex, center, center);
        
        // justify-content: space-between;
        width: 78.5rem;
        height: 18rem;
        max-width: 115rem;
        }

    .text_1 {
        // display: flex;
        padding-bottom: 0px;
        @include flexCenter(column, center,center);
        width: 27rem;
        height: 13rem;
        

        .pad1 {
            display: flex;
            padding-bottom: 0px;
            justify-content: center;
            align-items: flex-start;

            .text_2{
                display: flex;
                padding: 0.84375rem 1.98688rem 0.90625rem 1rem;
                align-items: flex-start;
                border-radius: 0.5rem;
                background: #FFF;
                box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);

                color: #171A1D;
                font-family: PingFang SC;
                font-size: 0.5125rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.37506rem; /* 169.238% */

                // .block{
                //     width: 1rem;
                //     height: 1.75rem;

                //     border-top: 14px solid #FFF;
                //     border-right: 8px solid #FFF;
                //     border-bottom: 14px solid #FFF;
                //     border-left: 8px solid #FFF;
                // }
            }
            .block{
                width: 1rem;
                height: 1.75rem;
                
                background-color:#FFF ;
                border-top: 14px solid #FFF;
                border-right: 8px solid #FFF;
                border-bottom: 14px solid #FFF;
                border-left: 8px solid #FFF;
            }
        }


        .button{
            @include flexCenter;
            height: 3.125rem;
            padding: 0.875rem 3.36875rem 0.875rem 3.38125rem;
            

            border-radius: 0.5rem;
            background: linear-gradient(130deg, #8F70FF 5.00%, #FF5E2B 97.00%);

            color: #FFF;
            text-align: center;
            font-family: PingFang SC;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.375rem; /* 122.222% */
        }

        .text_3{
            @include flexCenter;
            padding: 0.875rem 0rem 0.05313rem 0rem;
            

            color: rgba(23, 26, 29, 0.40);
            font-family: PingFang SC;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.17863rem; /* 157.15% */
        }

        // .text_4{
        //     display: flex;
        //     padding-top: 24px;
        //     justify-content: center;
        //     align-items: center;

        //     .pad2{
        //         display: flex;
        //         justify-content: center;
        //         align-items: flex-start;
        //     }
        // }
    }

    .text_4{
        @include flexCenter;
        padding-top: 24px;
        // justify-content: space-between;
        
        width: 30rem;
        height: 2.9rem;

        .pad2{
            @include flexCenter;

            :nth-child(1){
                color: #3D3D3D;
                font-family: PingFang SC;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.17863rem; /* 157.15% */
            }

            :nth-child(2){
                // width: 4.3rem;
                color: #3D3D3D;
                border-radius: 0.25rem;
                background: #F6F6F6;
                display: flex;
                padding: 0.0625rem 0.43813rem 0.17813rem 0.375rem;
                align-items: flex-start;

                font-family: PingFang SC;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.17863rem; /* 157.15% */
            }

            :nth-child(3){
                @include flexCenter;
                padding: 0rem 0.25rem;
                align-items: flex-start;

                color: #3D3D3D;
                font-family: PingFang SC;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.17863rem; /* 157.15% */
            }

            :nth-child(4){
                // width: 2.3rem;
                @include flexCenter;
                padding: 0.0625rem 0.37563rem 0.17813rem 0.375rem;
                align-items: flex-start;
                border-radius: 0.25rem;
                background: #F6F6F6;

                color: #3D3D3D;
                font-family: PingFang SC;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.17863rem; /* 157.15% */
            }

            :nth-child(5){
                @include flexCenter;
                color: #3D3D3D;
                font-family: PingFang SC;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.17863rem; /* 157.15% */
            }

            :nth-child(6){
                @include flexCenter;
                padding: 0.0625rem 0.54625rem 0.17813rem 0.375rem;
                align-items: flex-start;
                border-radius: 0.25rem;
                background: #F6F6F6;

                color: #3D3D3D;
                font-family: PingFang SC;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.17863rem; /* 157.15% */
            }

            :nth-child(7){
                color: #3D3D3D;
                font-family: PingFang SC;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.17863rem; /* 157.15% */
            }
        }
    }
}

#white{
    // width: 100%;
    // height: 100%;
    width: 144rem;
    // height: 104rem;
}

.sec2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 144rem;
    height: 84rem;
    padding: 7.2rem 32rem;
   
    background: #FAFAFA;

    .img{
        // display: flex;
        // height: 2.25rem;
        // max-width: 92rem;
        // padding: 0rem 1rem;
        // justify-content: center;
        // align-items: flex-start;
       
 
        width: 28.13rem;
        height: 3.6rem;
        max-width: 144rem;
    }

    .margin{
        display: flex;
        padding-top: 19.5px;
        justify-content: center;
        align-items: center;
    }

    .slide{
        display: flex;
        max-width: 88rem;
        padding-top: 32px;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
       

        .slide_header{
            // width: 50rem;
            display: flex;
            padding: 0rem 11.5625rem;
            justify-content: center;
            align-items: center;

            .slide-1{
                display: flex;
                padding: 0.84375rem 1.875rem 0.87063rem 1.875rem;
                align-items: flex-start;
                border-radius: 0.5rem;

                :nth-child(1){
                    color: #171A1D;
                    font-family: PingFang SC;
                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.96438rem; /* 157.15% */
                }
                :nth-child(2){
                    color: #171A1D;
                    font-family: PingFang SC;
                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.96438rem; /* 157.15% */
                }
            }

            .slide-2{
                display: flex;
                padding: 0.84375rem 1.875rem 0.87063rem 1.875rem;
                align-items: flex-start;

                border-radius: 0.5rem;
                background: rgba(142, 142, 142, 0.16);

                :nth-child(1){
                    color: #171A1D;
                    font-family: PingFang SC;
                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.96438rem; /* 157.15% */
                }
               :nth-child(2){
                color: #171A1D;
                font-family: PingFang SC;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.96438rem; /* 157.15% */
               }
            }

            .slide-3{
                display: flex;
                padding: 0.84375rem 1.875rem 0.87063rem 5rem;
                align-items: flex-start;

                color: #171A1D;
                font-family: PingFang SC;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.96438rem; /* 157.15% */
            }
        }

        .slide_content{
            display: flex;
            width: 5orem;
            padding-left: 0px;
            align-items: flex-start;
            height: 31.5625rem;
            flex: 1 0 0;
            background: url(<path-to-image>), lightgray 0px 0px / 100% 100% no-repeat;
        }
    }
}

.sec3{
    display: flex;
    width: 144rem;
    height: 80rem;
    padding: 4.5rem 20rem;
    flex-direction: column;
    align-items: center;

    :nth-child(1){
        // width: 17.58125rem;
        // height: 2.25rem;
        // max-width: 90rem;

        width: 281.3px;
        height: 36px;
        max-width: 1440px;
    }
        

    :nth-child(2){
        display: flex;
        padding-top: 19.5px;
        align-items: center;

        color: #171A1D;
        font-family: PingFang SC;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.96438rem; /* 157.15% */
    }

    :nth-child(3){
        display: flex;
        width: 80rem;
        max-width: 88rem;
        padding-top: 40px;
        justify-content: center;
        align-items: flex-start;
    }

}

.sec4{
    display: flex;
    width: 140rem;
    padding: 4.5rem 20rem;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;

    :nth-child(1){
        // width: 25.58688rem;
        // height: 2.25rem;
        // max-width: 90rem;
        width: 409.39px;
        height: 36px;
        max-width: 1440px;
    }

    :nth-child(2){
        display: flex;
        padding: 1.21875rem 1.0275rem 0rem 0rem;
        align-items: center;

        color: #171A1D;
        font-family: PingFang SC;
        font-size: 1.1875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.96438rem; /* 165.421% */
    }

    :nth-child(3){
        display: flex;
        width: 80rem;
        max-width: 90rem;
        padding-top: 40px;
        justify-content: center;
        align-items: flex-start;
    }
}
 
.sec5{
    display: flex;
    width: 144rem;
    padding: 4.5rem 20rem;
    flex-direction: column;
    align-items: center;

    :nth-child(1){
        display: flex;
        height: 2.25rem;
        max-width: 92rem;
        padding: 0rem 1rem;
        justify-content: center;
        align-items: flex-start;

        // width: 17.58125rem;
        // height: 2.25rem;
        // max-width: 90rem;
        width: 281.3px;
        height: 36px;
        max-width: 1440px;
     }

    :nth-child(2){
        display: flex;
        padding-top: 19.5px;
        align-items: center;

        color: #171A1D;
        font-family: PingFang SC;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.96438rem; /* 157.15% */
    }

    :nth-child(3){
        display: flex;
        width: 80rem;
        max-width: 90rem;
        padding-top: 40px;
        justify-content: center;
        align-items: flex-start;
    }
}

.bottom{
    background-image:url(/public/17.svg);
    width: 1441px;
    height: 401.92px;

}